# Folders
/ignore
/vendor

# Configuration
/.env
/composer.lock

# IDE
/.idea
/.vagrant
/.vscode
/.editorconfig
/.phpstorm.meta.php
/_ide_helper.php

# Operating System
.DS_Store
Thumbs.db
Desktop.ini

# Tools cache
.phpunit.result.cache
